html, body {
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
}
#instructions {
    margin: auto;
    width: 100%;
    padding-left: 20px;
    background-color: #eceeef;
    flex: 1;


  }
#upload-files {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }

.jumbotron {
    text-align: center;
  }

  .underline {
    border-bottom: 1px solid lightgray;
    padding-left: 0px;
  }

